.container {
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #fcd5bacc;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    animation: modalScale 0.3s linear alternate;
    .modal-content {
      width: 420px;
      height: 430px;
      animation: modalScale 0.5s linear alternate;
      padding-left: 80px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.6);
      background-color: #fff;
      text-align: center;
      opacity: 1;
      img {
        top: 0;
        left: 0;
        margin-left: 300px;
      }
      h4 {
        font-size: 24px;
        padding: 52px 100px 32px 0;
      }
      form {
        display: flex;
        flex-direction: column;
        input {
          width: 260px;
          height: 40px;
          padding: 12px 16px;
          border: 1px solid #70c05b;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      }
      button {
        width: 260px;
        height: 68px;
        padding: 16px 16px 16px 0;
        gap: 8px;
        border-radius: 4px;
        border: none;
        background-color: #fcd5ba;
        color: #ff6633;
        font-size: 24px;
        margin-right: 79px;
        margin-bottom: 32px;
      }
      .modal_bottom {
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 5px;
        gap: 16px;
        .modal_bottom-1 {
          width: 121px;
          height: 32px;
          padding: 6px 8px 8px 8px;
          border-radius: 4px;
          border: 1px solid #70c05b;
          color: #70c05b;
          text-align: center;
          align-items: center;
        }
        .modal_bottom-2 {
          color: #606060;
        }
      }
    }
  }
}
.modal.open {
  display: flex;
}

@keyframes modalScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
