li,
ol,
ul {
  list-style: none;
}
button {
  cursor: pointer !important;
}
a {
  text-decoration: none;
}
h2 {
  font-family: Rubik-bold;
  color: #414141;
}
header {
  font-family: Rubik;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.9;
  .container {
    display: flex;
    align-items: center;
    a {
      display: flex;
      font-family: Rubik-bold;
      font-weight: 900;
      align-items: center;
      color: #414141;
      img {
        padding-right: 10px;
      }
    }
    .katalog-button {
      display: flex;
      padding: 8px;
      background: #70c05b;
      align-items: center;
      margin-left: 40px;
      margin-right: 16px;
      border-radius: 4px;
      p {
        color: #fff;
        padding-left: 16px;
      }
    }
    .search {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-right: 40px;
      align-items: center;
      .search-input {
        border: 1px solid #70c05b;
        padding: 8px 0px 8px 8px;
        border-radius: 4px;
        font-size: 14px;
        width: 360px;
        height: 40px;
        gap: 10px;
      }
      .search-img {
        position: absolute;
        right: 8px;
        top: 10;
      }
    }
    .header-card {
      text-align: center;
      margin-right: 24px;
    }
    .Алексей {
      display: flex;
      align-items: center;
      p {
        padding: 0 10px;
      }
      button {
        background-color: #fff;
        border: none;
      }
    }
  }
}
main {
  padding-top: 80px;
  background-color: #fbf8ec;
  padding-bottom: 20px;
  font-family: Rubik;
  text-align: center;
  .background-img {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
  }
  .container {
    .sec-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
      }
      a {
        display: flex;
        align-items: center;
        color: #606060;
      }
    }
    .sec1 {
      margin-bottom: 120px;
      .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1208px;
        .card {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1px;
          max-width: 272px;
          p {
            color: #bfbfbf;
          }
          .sec1-card-top {
            display: flex;
            justify-content: space-between;
            margin: 8px;

            &-right {
              h3 {
                font-weight: 700;
                color: #414141;
              }
            }
            &-left {
              font-weight: 400;
            }
          }
          img {
            padding-bottom: 8px;
            max-width: 272px;
            width: 100%;
            padding-left: 8px;
          }
          .sec1-card-h4 {
            padding-left: 8px;
            padding-bottom: 8px;
            max-width: 250px;
            width: 100%;
            font-weight: normal;
          }
          button {
            transition: 0.4s linear;
            border: #04aa6d solid 1px;
            padding: 8px 80px;
            margin: 8px;
            color: #70c05b;
            font-size: 16px;
            border-radius: 4px;
            background-color: #fff;
            &:hover {
              border: #ff6633 solid 1px;
              background-color: #ff6633;
              color: white;
              box-shadow: 4px 8px 16px 0px #ff663333;
            }
          }
          .sec1-card-button {
            margin-top: 8px;
          }
        }
      }
    }
    .sec2,
    .sec3 {
      margin-bottom: 120px;
      .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1208px;
        .card {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1px;
          max-width: 272px;
          p {
            color: #bfbfbf;
          }
          .sec1-card-top {
            display: flex;
            justify-content: space-between;
            margin: 8px;

            &-right {
              h3 {
                font-weight: 700;
                color: #414141;
              }
            }
            &-left {
              font-weight: 400;
            }
          }
          img {
            padding-bottom: 8px;
            max-width: 272px;
            width: 100%;
            padding-left: 8px;
          }
          .sec1-card-h4 {
            padding-left: 8px;
            padding-bottom: 8px;
            max-width: 250px;
            width: 100%;
            font-weight: normal;
          }
          button {
            transition: 0.4s linear;
            border: #04aa6d solid 1px;
            padding: 8px 80px;
            margin: 8px;
            color: #70c05b;
            font-size: 16px;
            border-radius: 4px;
            background-color: #fff;
            &:hover {
              border: #ff6633 solid 1px;
              background-color: #ff6633;
              color: white;
              box-shadow: 4px 8px 16px 0px #ff663333;
            }
          }
          .sec1-card-button {
            margin-top: 8px;
          }
        }
      }
      .card {
        h3 {
          padding-bottom: 26px;
        }
      }
    }
    .sec4 {
      margin-bottom: 120px;
      h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 54px;
      }
      .sec4-cards {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
        .sec4-card {
          display: flex;
          gap: 10px;
          border-radius: 4px;
          //   margin-right: 40px;
          justify-content: space-between;
          margin-bottom: 20px;
          .sec4-card-text {
            margin: 30px 10px 44px 40px;
            h3 {
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              max-width: 258px;
              padding-bottom: 6px;
              font-family: Rubik-bold;
              color: #414141;
            }
            p {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              max-width: 258px;
            }
          }
        }
        .sec4-card1 {
          background: #fcd5ba;
          box-shadow: 0px 8px 16px 0px #ca936080;
          max-width: 584px;
          img {
            max-width: 253px;
            width: 100%;
          }
        }
        .sec4-card2 {
          background: #e5ffde;
          max-width: 584px;
          .sec4-card-text {
            width: 258px;
          }
          img {
            max-width: 253px;
            width: 100%;
          }
        }
      }
    }
    .sec5 {
      h2 {
        font-family: Rubik-bold;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
      }
      .sec5-buttons {
        display: flex;
        margin-bottom: 28px;
        flex-wrap: wrap;
        button {
          width: 97px;
          height: 32px;
          padding: 8px;
          gap: 8px;
          border-radius: 4px;
          background-color: #f3f2f1;
          transition: 0.4s;
          border: none;
          gap: 16px;
          &:hover {
            color: #fff;
            background-color: #70c05b;
          }
        }
      }
      img {
        max-width: 1208px;
        width: 100%;
      }
    }
    .sec6 {
      margin-top: 120px;
      margin-bottom: 80px;
      .sec-top {
        margin-bottom: 40px;
      }
      .sec6-cards {
        display: flex;
        justify-content: space-between;
        .sec6-card {
          max-width: 376px;
          border-radius: 4px;
          img {
            max-width: 376px;
            width: 100%;
            border-radius: 4px 4px 0px 0px;
          }
          p {
            padding: 10px 0 0 10px;
            color: #8f8f8f;
          }
          h3 {
            padding: 10px;
            max-width: 330px;
            color: #414141;
          }
          h4 {
            padding: 0 10px;
            margin-bottom: 5px;
            font-weight: normal;
            color: #414141;
          }
          button {
            width: 150px;
            height: 40px;
            padding: 8px;
            gap: 8px;
            border-radius: 4px;
            background: #e5ffde;
            border: none;
            margin: 10px;
            color: #70c05b;
            transition: 0.5s;
            &:hover {
              background-color: #70c05b;
              color: white;
              box-shadow: 1px 2px 4px 0px #0000001a;
            }
          }
        }
        .sec6-card2 {
          h4 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
footer {
  background-image: url("/assets/images/footer/footer-bg.png");
  background-color: #f9f4e2;
  .container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 54px;
    justify-content: space-between;
    .footer-left {
      //   margin: 20px;
      display: flex;
      align-items: center;
      max-width: 740px;
      justify-content: space-between;
      gap: 40px;
      .footer-left-menu {
        display: flex;
        gap: 40px;
        a {
          color: #414141;
          font-size: 12px;
        }
      }
    }
    .footer-right {
      display: flex;
      position: relative;

      &-web {
        display: flex;
        align-items: center;
        max-width: 140px;
        gap: 16px;
        justify-content: space-between;
        margin-right: 40px;
      }
      &-phone {
        display: flex;
        align-items: center;
        padding-top: 8px;
        p {
          color: #414141;
          font-size: 16px;
        }
      }
      .footer-right-bottom {
        display: flex;
        position: absolute;
        top: 60px;
        right: 0;
        p {
          padding-right: 8px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
    margin: 0 auto;
  }
  header {
    font-family: Rubik;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.9;
    z-index: 1000;
    margin-bottom: 70px;
    text-align: left;
    padding-right: 20px;
    .container {
      display: flex;
      align-items: center;
      max-width: 728px;
      a {
        display: flex;
        font-family: Rubik-bold;
        font-weight: 900;
        align-items: center;
        color: #414141;
        img {
          padding-right: 10px;
        }
        p {
          display: none;
        }
      }
      .katalog-button {
        display: flex;
        padding: 8px;
        background: #70c05b;
        align-items: center;
        margin-left: 10px;
        margin-right: 16px;
        border-radius: 4px;
        p {
          display: none;
        }
      }
      .search {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-right: 20px;
        align-items: center;
        .search-input {
          border: 1px solid #70c05b;
          padding: 8px;
          border-radius: 4px;
          font-size: 14px;
          max-width: 305px;
          height: 40px;
          gap: 10px;
        }
        .search-img {
          position: absolute;
          right: 8px;
          top: 10;
          width: 24px;
          height: 24px;
        }
      }
      .header-card {
        text-align: center;
        margin-right: 16px;
        p {
          font-size: 12px;
        }
      }
      .Алексей {
        display: flex;
        align-items: center;
        p {
          padding: 0 10px;
          display: none;
        }
        button {
          background-color: #fff;
          border: none;
          display: none;
        }
      }
    }
  }
  main {
    padding-top: 80px;
    background-color: #fbf8ec;
    padding-bottom: 20px;
    font-family: Rubik;
    text-align: center;
    padding-bottom: 495px;
    .background-img {
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 10;
      // position: absolute;
    }
    .container {
      .sec1-position {
        // z-index: 1000;
        // position: relative;
        top: 0;
      }
      .sec-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        h2 {
          font-size: 36px;
          font-weight: 700;
          line-height: 54px;
          text-align: left;
        }
        a {
          display: flex;
          align-items: center;
          color: #606060;
        }
      }
      .sec1 {
        margin-bottom: 120px;
        .cards {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          max-width: 1208px;
          .card {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1px;
            max-width: 224px;
            margin-bottom: 20px;
            p {
              color: #bfbfbf;
              font-size: 12px;
            }
            .sec1-card-top {
              display: flex;
              justify-content: space-between;
              margin: 8px;

              &-right {
                h3 {
                  font-weight: 700;
                  color: #414141;
                }
              }
              &-left {
                font-weight: 400;
              }
            }
            img {
              padding-bottom: 8px;
              max-width: 224px;
              width: 100%;
              padding-left: 8px;
            }
            .sec1-card-h4 {
              padding-left: 8px;
              padding-bottom: 8px;
              max-width: 250px;
              width: 100%;
              font-weight: normal;
            }
            button {
              transition: 0.4s linear;
              border: #04aa6d solid 1px;
              padding: 8px 54px;
              margin: 8px;
              color: #70c05b;
              font-size: 16px;
              border-radius: 4px;
              background-color: #fff;
              &:hover {
                border: #ff6633 solid 1px;
                background-color: #ff6633;
                color: white;
                box-shadow: 4px 8px 16px 0px #ff663333;
              }
            }
            .sec1-card-button {
              margin-top: 24px;
            }
          }
          .card4 {
            display: none;
          }
        }
      }
      .sec2,
      .sec3 {
        margin-bottom: 120px;
        .cards {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          max-width: 1208px;
          .card {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1px;
            max-width: 224px;
            margin-bottom: 20px;
            p {
              color: #bfbfbf;
            }
            .sec1-card-top {
              display: flex;
              justify-content: space-between;
              margin: 8px;

              &-right {
                h3 {
                  font-weight: 700;
                  color: #414141;
                }
              }
              &-left {
                font-weight: 400;
              }
            }
            img {
              padding-bottom: 8px;
              max-width: 224px;
              width: 100%;
              padding-left: 0;
            }
            .sec1-card-h4 {
              padding-left: 8px;
              padding-bottom: 8px;
              max-width: 200px;
              width: 100%;
              font-weight: normal;
              text-align: left;
            }
            button {
              transition: 0.4s linear;
              border: #04aa6d solid 1px;
              padding: 8px 54px;
              margin: 8px 8px 8px 8px;
              color: #70c05b;
              font-size: 16px;
              border-radius: 4px;
              background-color: #fff;
              &:hover {
                border: #ff6633 solid 1px;
                background-color: #ff6633;
                color: white;
                box-shadow: 4px 8px 16px 0px #ff663333;
              }
            }
            .sec1-card-button {
              margin-top: 8px;
            }
          }
          .card4 {
            display: none;
          }
        }
        .card {
          h3 {
            padding-bottom: 26px;
          }
        }
      }
      .sec4 {
        margin-bottom: 120px;
        h2 {
          font-size: 36px;
          font-weight: 800;
          line-height: 54px;
        }
        .sec4-cards {
          display: flex;
          margin-top: 40px;
          justify-content: space-between;
          flex-wrap: wrap;
          .sec4-card {
            display: flex;
            border-radius: 4px;
            justify-content: space-between;
            margin-bottom: 20px;
            .sec4-card-text {
              text-align: left;
              margin: 20px 0 36px 20px;
              h3 {
                font-size: 18px;
                font-weight: 700;
                line-height: 17px;
                max-width: 274px;
                padding-bottom: 6px;
                font-family: Rubik-bold;
                color: #414141;
              }
              p {
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                max-width: 258px;
              }
            }
          }
          .sec4-card1 {
            background: #fcd5ba;
            box-shadow: 0px 8px 16px 0px #ca936080;
            max-width: 342px;
            img {
              max-width: 189px;
              width: 100%;
              padding: 0;
            }
          }
          .sec4-card2 {
            background: #e5ffde;
            max-width: 342px;
            .sec4-card-text {
              width: 258px;
            }
            img {
              max-width: 153px;
              width: 100%;
            }
          }
        }
      }
      .sec5 {
        h2 {
          font-family: Rubik-bold;
          font-size: 36px;
          font-weight: 700;
          line-height: 54px;
          text-align: left;
        }
        .sec5-buttons {
          display: flex;
          margin-bottom: 28px;
          flex-wrap: wrap;
          gap: 16px;
          button {
            width: 91px;
            height: 32px;
            padding: 8px;
            gap: 8px;
            border-radius: 4px;
            background-color: #f3f2f1;
            transition: 0.4s;
            border: none;
            font-size: 12px;
            &:hover {
              color: #fff;
              background-color: #70c05b;
            }
          }
        }
        img {
          max-width: 737px;
          width: 100%;
        }
      }
      .sec6 {
        margin-top: 120px;
        margin-bottom: 80px;
        .sec-top {
          margin-bottom: 40px;
        }
        .sec6-cards {
          display: flex;
          justify-content: space-between;
          .sec6-card {
            max-width: 224px;
            border-radius: 4px;
            text-align: left;
            img {
              max-width: 224px;
              width: 100%;
              border-radius: 4px 4px 0px 0px;
            }
            p {
              padding: 10px 0 0 10px;
              color: #8f8f8f;
              font-size: 8px;
            }
            h3 {
              padding: 10px;
              max-width: 330px;
              color: #414141;
              font-size: 16px;
            }
            h4 {
              padding: 0 10px;
              margin-bottom: 5px;
              font-weight: normal;
              color: #414141;
              font-size: 12px;
            }
            button {
              width: 150px;
              height: 40px;
              padding: 8px;
              gap: 8px;
              border-radius: 4px;
              background: #e5ffde;
              border: none;
              margin: 10px;
              color: #70c05b;
              transition: 0.5s;
              &:hover {
                background-color: #70c05b;
                color: white;
                box-shadow: 1px 2px 4px 0px #0000001a;
              }
            }
          }
          .sec6-card2 {
            h4 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  footer {
    background-image: url("/assets/images/footer/footer-bg.png");
    background-color: #f9f4e2;
    margin-bottom: 130px;
    .container {
      display: flex;
      padding-top: 24px;
      padding-bottom: 54px;
      justify-content: space-between;
      .footer-left {
        //   margin: 20px;
        display: flex;
        align-items: center;
        max-width: 720px;
        justify-content: space-between;
        // gap: 40px;
        .footer-left-menu {
          flex-wrap: wrap;
          gap: 16px;
          a {
            color: #414141;
            font-size: 12px;
          }
        }
      }
      .footer-right {
        display: flex;
        position: relative;
        &-web {
          display: flex;
          align-items: center;
          width: 56px;
          gap: 2px;
          justify-content: space-between;
          margin-right: 24px;
          flex-wrap: wrap;
        }
        &-right {
          display: flex;
          width: 152px;
        }
        &-phone {
          display: flex;
          align-items: center;
          padding-top: 0;
          top: 2;
          width: 152px;
          p {
            color: #414141;
            font-size: 16px;
          }
        }
        .footer-right-bottom {
          display: flex;
          position: absolute;
          top: 50px;
          right: 0;
          p {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 12px;
    max-width: 336px;
  }
  header {
    font-family: Rubik;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.9;
    .container {
      display: flex;
      align-items: center;
      a {
        display: flex;
        font-family: Rubik-bold;
        font-weight: 900;
        align-items: center;
        color: #414141;
        img {
          padding-right: 20px;
        }
      }
      .katalog-button {
        display: flex;
        padding: 8px;
        background: #70c05b;
        align-items: center;
        margin-left: 40px;
        margin-right: 16px;
        border-radius: 4px;
        display: none;
        p {
          color: #fff;
          padding-left: 16px;
        }
      }
      .search {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-right: 40px;
        align-items: center;
        .search-input {
          border: 1px solid #70c05b;
          padding: 8px 0px 8px 8px;
          border-radius: 4px;
          font-size: 14px;
          width: 261px;
          height: 40px;
          gap: 10px;
        }
        .search-img {
          position: absolute;
          right: 8px;
          top: 10;
        }
      }
      .header-card {
        text-align: center;
        margin-right: 24px;
        display: none;
      }
      .Алексей {
        display: flex;
        align-items: center;
        display: none;
        p {
          padding: 0 10px;
        }
        button {
          background-color: #fff;
          border: none;
        }
      }
    }
  }
  main {
    padding-top: 80px;
    background-color: #fbf8ec;
    padding-bottom: 20px;
    font-family: Rubik;
    text-align: center;
    .background-img {
      max-width: 360px;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
    }
    .container {
      .sec-top {
        display: flex;
        // width: 168px;
        justify-content: space-between;
        margin-bottom: 16px;
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: left;
        }
        a {
          display: flex;
          font-size: 16px;
          align-items: center;
          color: #606060;
          p {
            width: 120px;
          }
        }
      }
      .sec1 {
        margin-bottom: 80px;
        .cards {
          display: flex;
          justify-content: space-between;
          width: 336px;
          flex-wrap: wrap;
          padding-right: 10px;
          .card {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1px;
            max-width: 160px;
            text-align: left;
            p {
              color: #bfbfbf;
            }
            .sec1-card-top {
              display: flex;
              justify-content: space-between;
              margin: 8px;

              &-right {
                h3 {
                  font-weight: 700;
                  color: #414141;
                }
              }
              &-left {
                font-weight: 400;
              }
            }
            img {
              padding-bottom: 8px;
              max-width: 160px;
              width: 100%;
            }
            .sec1-card-h4 {
              padding-left: 8px;
              padding-bottom: 8px;
              max-width: 250px;
              width: 100%;
              font-size: 12px;
              font-weight: normal;
            }
            .sec1-card-h4_2 {
              padding-bottom: 18px;
            }
            button {
              transition: 0.4s linear;
              border: #04aa6d solid 1px;
              padding: 8px 30px;
              margin: 8px;
              color: #70c05b;
              font-size: 16px;
              border-radius: 4px;
              background-color: #fff;
              &:hover {
                border: #ff6633 solid 1px;
                background-color: #ff6633;
                color: white;
                box-shadow: 4px 8px 16px 0px #ff663333;
              }
            }
            .sec1-card-button {
              margin-top: 8px;
            }
          }
        }
      }
      .sec2,
      .sec3 {
        margin-bottom: 80px;
        .cards {
          display: flex;
          flex-wrap: wrap;
          width: 336px;
          padding-right: 10px;
          .card {
            display: flex;
            background-color: #ffffff;
            border-radius: 1px;
            max-width: 160px;
            gap: 5px;
            flex-direction: column;
            text-align: left;
            p {
              color: #bfbfbf;
            }
            .sec1-card-top {
              display: flex;
              justify-content: space-between;
              margin: 8px;

              &-right {
                h3 {
                  font-weight: 700;
                  color: #414141;
                }
              }
              &-left {
                font-weight: 400;
              }
            }
            img {
              padding-bottom: 8px;
              max-width: 160px;
              width: 100%;
              padding-left: 8px;
            }
            .sec1-card-h4 {
              padding-left: 8px;
              padding-bottom: 8px;
              max-width: 250px;
              width: 100%;
              font-weight: normal;
              font-size: 12px;
            }
            button {
              transition: 0.4s linear;
              border: #04aa6d solid 1px;
              padding: 8px 30px;
              margin: 8px;
              color: #70c05b;
              font-size: 16px;
              border-radius: 4px;
              background-color: #fff;
              &:hover {
                border: #ff6633 solid 1px;
                background-color: #ff6633;
                color: white;
                box-shadow: 4px 8px 16px 0px #ff663333;
              }
            }
            .sec1-card-button {
              margin-top: 8px;
            }
          }
        }
        .card {
          h3 {
            padding-bottom: 26px;
          }
        }
      }
      .sec4 {
        margin-bottom: 80px;
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: left;
        }
        .sec4-cards {
          display: flex;
          margin-top: 40px;
          justify-content: space-between;
          flex-wrap: wrap;
          .sec4-card {
            display: flex;
            border-radius: 4px;
            justify-content: space-between;
            margin-bottom: 20px;
            .sec4-card-text {
              margin: 30px 0 44px 40px;
              h3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                max-width: 258px;
                padding-bottom: 6px;
                font-family: Rubik-bold;
                color: #414141;
              }
              p {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                max-width: 258px;
              }
            }
          }
          .sec4-card1 {
            background: #fcd5ba;
            box-shadow: 0px 8px 16px 0px #ca936080;
            max-width: 336px;
            align-items: center;
            text-align: center;
            position: relative;
            .sec4-card-text {
              padding-right: 10px;
            }
            img {
              position: absolute;
              top: 45px;
              left: 190px;
              max-width: 153px;
              width: 100%;
              height: 130px;
              opacity: 0.7;
            }
          }
          .sec4-card2 {
            background: #e5ffde;
            max-width: 336px;
            align-items: center;
            text-align: center;
            .sec4-card-text {
              width: 174px;
            }
            img {
              max-width: 132px;
              width: 100%;
              height: 126px;
              top: 45px;
              right: 4px;
            }
          }
        }
      }
      .sec5 {
        h2 {
          font-family: Rubik-bold;
          font-size: 36px;
          font-weight: 700;
          line-height: 54px;
          text-align: left;
        }
        .sec5-buttons {
          display: flex;
          margin-bottom: 28px;
          flex-wrap: wrap;
          button {
            width: 97px;
            height: 32px;
            padding: 8px;
            gap: 8px;
            border-radius: 4px;
            background-color: #f3f2f1;
            transition: 0.4s;
            border: none;
            gap: 16px;
            &:hover {
              color: #fff;
              background-color: #70c05b;
            }
          }
        }
        img {
          max-width: 360px;
          width: 100%;
        }
      }
      .sec6 {
        margin-top: 120px;
        margin-bottom: 80px;
        .sec-top {
          margin-bottom: 30px;
        }
        .sec6-cards {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .sec6-card {
            max-width: 336px;
            border-radius: 4px;
            margin-bottom: 20px;
            img {
              max-width: 336px;
              width: 100%;
              border-radius: 4px 4px 0px 0px;
            }
            p {
              padding: 10px 0 0 10px;
              color: #8f8f8f;
            }
            h3 {
              padding: 10px;
              max-width: 330px;
              color: #414141;
            }
            h4 {
              padding: 0 10px;
              margin-bottom: 5px;
              font-weight: normal;
              color: #414141;
            }
            button {
              width: 150px;
              height: 40px;
              padding: 8px;
              gap: 8px;
              border-radius: 4px;
              background: #e5ffde;
              border: none;
              margin: 10px;
              color: #70c05b;
              transition: 0.5s;
              &:hover {
                background-color: #70c05b;
                color: white;
                box-shadow: 1px 2px 4px 0px #0000001a;
              }
            }
          }
          .sec6-card2 {
            h4 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  footer {
    background-image: url("/assets/images/footer/footer-bg.png");
    background-color: #f9f4e2;
    .container {
      display: flex;
      padding-top: 24px;
      padding-bottom: 54px;
      justify-content: space-between;
      .footer-left {
        align-items: start;
        max-width: 740px;
        gap: 40px;
        .footer-left-menu {
          display: flex;
          gap: 16px;
          flex-wrap: wrap;
          a {
            color: #414141;
            font-size: 12px;
          }
        }
      }
      .footer-right {
        position: relative;

        &-web {
          display: flex;
          align-items: center;
          max-width: 140px;
          gap: 16px;
          justify-content: space-between;
          margin-right: 40px;
        }
        &-phone {
          display: flex;
          align-items: center;
          padding-top: 8px;
          p {
            color: #414141;
            font-size: 16px;
          }
        }
        .footer-right-bottom {
          // display: flex;
          // position: absolute;
          // top: 60px;
          // right: 0;
          display: none;
          p {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
